<h2 class="text-center">Popis</h2>
<app-loader [isLoading]="true" *ngIf="isLoading$ | async" ngClass="text-center"></app-loader>
<button
  class="btn"
  [ngClass]="tableToShow === 'Sredstva' ? 'btn-primary' : 'btn-secondary'"
  (click)="loadSredstva()"
  [disabled]="isLoading$ | async"
>
  Sredstva {{ (sredstva$ | async)?.length }}
</button>
<button
  class="btn"
  [ngClass]="tableToShow === 'Popisani' ? 'btn-primary' : 'btn-secondary'"
  (click)="loadPopisani()"
  [disabled]="isLoading$ | async"
>
  Popisani {{ (popisani$ | async)?.length }}
</button>
<div *ngIf="(isLoading$ | async) === false">
  <table
    datatable
    [dtOptions]="dtOptions"
    class="table table-responsive table-bordered table-striped hover"
    *ngIf="tableToShow === 'Sredstva'"
  >
    <thead class="table-primary"></thead>
  </table>
  <table
    datatable
    [dtOptions]="dtOptionsPopisani"
    class="table table-responsive table-bordered table-striped hover"
    *ngIf="tableToShow === 'Popisani'"
  >
    <thead class="table-primary"></thead>
  </table>
</div>
{{ tableToShow }}
