<h2 class="text-center">Попис</h2>
<div>
  <button
    class="btn"
    [ngClass]="tableToShow === 'Sredstva' ? 'btn-primary' : 'btn-secondary'"
    (click)="loadSredstva()"
    [disabled]="isLoading$ | async"
  >
    Сите Средства {{ (sredstva$ | async)?.length === 0 ? '' : (sredstva$ | async)?.length }}
  </button>
  <button
    class="btn"
    [ngClass]="tableToShow === 'Popisani' ? 'btn-primary' : 'btn-secondary'"
    (click)="loadPopisani()"
    [disabled]="isLoading$ | async"
  >
    Само попишани {{ (popisani$ | async)?.length === 0 ? '' : (popisani$ | async)?.length }}
  </button>
  <button
    class="btn"
    [ngClass]="tableToShow === 'NePopisani' ? 'btn-primary' : 'btn-secondary'"
    (click)="loadNePopisani()"
    [disabled]="isLoading$ | async"
  >
    Непопишани {{ (nePopisani$ | async)?.length === 0 ? '' : (nePopisani$ | async)?.length }}
  </button>
</div>
<hr />
<app-loader [isLoading]="true" *ngIf="isLoading$ | async" ngClass="text-center"></app-loader>
<div *ngIf="(isLoading$ | async) === false">
  <table
    datatable
    [dtOptions]="dtOptions"
    class="table table-responsive table-bordered table-striped hover"
    *ngIf="tableToShow === 'Sredstva'"
  >
    <thead class="table-primary"></thead>
  </table>
  <a class="btn btn-primary" [href]="sredstvaExportUrl" target="_blank" *ngIf="tableToShow === 'Sredstva'"
    >Export to Excel</a
  >
  <table
    datatable
    [dtOptions]="dtOptionsPopisani"
    class="table table-responsive table-bordered table-striped hover"
    *ngIf="tableToShow === 'Popisani'"
  >
    <thead class="table-primary"></thead>
  </table>
  <a class="btn btn-primary" [href]="popisaniExportUrl" target="_blank" *ngIf="tableToShow === 'Popisani'"
    >Export to Excel</a
  >
  <table
    datatable
    [dtOptions]="dtOptionsNePopisani"
    class="table table-responsive table-bordered table-striped hover"
    *ngIf="tableToShow === 'NePopisani'"
  >
    <thead class="table-primary"></thead>
  </table>
  <a class="btn btn-primary" [href]="nePopisaniExportUrl" target="_blank" *ngIf="tableToShow === 'NePopisani'"
    >Export to Excel</a
  >
</div>
