<h2 class="text-center">Customers</h2>
<app-loader [isLoading]="true" *ngIf="IsLoading$ | async" ngClass="text-center"></app-loader>
<div [hidden]="IsLoading$ | async">
  <div class="card" *ngIf="(IsAddNew$ | async) === false; else AddNewTemplate">
    <app-customer-list
      [Customers$]="Customers$"
      (OnAddNew)="addNew()"
      *ngIf="(IsAddNew$ | async) === false; else AddNewTemplate"
    ></app-customer-list>
  </div>
  <ng-template #AddNewTemplate>
    <div class="row">
      <div class="col-md-3 col-sm-12"></div>
      <div class="col-md-6 col-sm-12">
        <app-customer-add (OnSave)="save($event)" (OnCancel)="cancel()"></app-customer-add>
      </div>
      <div class="col-md-3 col-sm-12"></div>
    </div>
  </ng-template>
</div>
